@import
  url("https://fonts.googleapis.com/css?family=Raleway");

.phone-top{
  background:white;
  width:100%;
  position:absolute;
  top:0;
  padding:15px;
}

  .cont {
  width: 320px;
  position:relative;
  overflow:hidden;
}

.chat-container{
  background:rgba(208, 211, 216, 0.2);
  display:flex;
  flex-direction:column;
  padding:10px;
  margin:0;
  align-items:flex-start;
  justify-content:center;
  list-style:none;
  min-height: 150px;
  max-height:250px;
  overflow:scroll;
}

.message{
  position:relative;
  border-radius:100px;
  margin-bottom:10px;
  z-index:-1;
}

/*.left{
  background:rgba(250, 70, 80, 0.5);
  padding: 15px 20px 15px 70px;
}*/

.right{
  background:#9effa3;
  align-self:flex-end;
  padding: 15px 70px 15px 20px;
}

.message p {
  margin:0;
}

.profile{
  border-radius:50%;
  position:absolute;
  object-fit:cover;
  width:50px;
  height:50px;
  left:10px;
  top:-10px;
}

.right .profile{
  left:auto;
  right:10px;
}

.reply-input{
  
    border-top-width: 1px;
    
    width: 270px;

  position:absolute;
  bottom:0;
  padding:10px;
}